@using Mvc.RazorTools.FontAwesome
@using Tattoo.Common.Strings
@model IEnumerable<Tattoo.Web.Areas.Admin.Models.UserViewModel>

@{
    ViewBag.Title = "Manage Users";
}

<div class="col-md-8">
    <section>
        <h2>Manage Users</h2>
        <br />
    </section>

    <div id="dataContainer"></div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryajax")

    <script type="text/javascript" language="javascript">
        function LoadData(size) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetPaged")' + ((size != undefined && size > 0) ? '?size=' + size : ''),
                dataType: 'html',
                beforeSend: function () {
                    $.blockUI({ message: '<h3>@FontAwesomeIconSet.Refresh.Spin().FixedWidth().Html Loading...</h3>' });
                }
            }).done(function (data) {
                $('#dataContainer').empty();
                $('#dataContainer').append(data);
            }).error(function () {

            }).always(function () {
                $.unblockUI();
            });
        }

        function ConfirmDelete(id, name) {
            bootbox.confirm("@Resources.Msg_ConfirmDelete <h4>User: " + name + "</h4>", function (result) {
                if (result) {
                    $.post('@Url.Action("Delete")', { id: id },
                        function (data) {
                            if (data.Success) {
                                toastr['success']("@Resources.Msg_ItemDeleted");
                                LoadData();
                            } else
                                toastr['error']("@Resources.Msg_DeleteFailed");
                        },
                        "json"
                    );
                } else
                    toastr['warning']("@Resources.Msg_DeleteCanceled");
            });
        }

        function ChangeStatus(status, formId) {
            bootbox.confirm("@Resources.Msg_ConfirmStatusChange", function (result) {
                if (result) {
                    $.post('@Url.Action("ChangeStatus")', { status: status, id: formId },
                            function (data) {
                                if (data.Success) {
                                    toastr['success']("@Resources.Msg_ChangeStatusSuccess");
                                } else
                                    toastr['error']("@Resources.Msg_ChangeStatusFailed");
                            },
                            "json"
                        )
                        .always(function () {
                            LoadData();
                        });
                } else {
                    toastr['warning']("@Resources.Msg_ChangeStatusCancelled");
                    LoadData();
                }
            });
        }

        function ChangeRole(role, formId) {
            bootbox.confirm("@Resources.Msg_ConfirmRoleChange", function (result) {
                if (result) {
                    $.post('@Url.Action("ChangeRole")', { role: role, id: formId },
                            function (data) {
                                if (data.Success) {
                                    toastr['success']("@Resources.Msg_ChangeRoleSuccess");
                                } else
                                    toastr['error']("@Resources.Msg_ChangeRoleFailed");
                            },
                            "json"
                        )
                        .always(function () {
                            LoadData();
                        });
                } else {
                    toastr['warning']("@Resources.Msg_ChangeRoleCancelled");
                    LoadData();
                }
            });
        }

        $(document).ready(function () {
            LoadData();
        });
    </script>
}
