@using Tattoo.Web.Models
@model ElementViewModel

<div class="base">
    <img alt="@Model.Description" src="@Model.SizedPicture(400)" class="img-polaroid" />
</div>
@*<div id="img-tattoo" class="col-md-4 polaroid" style="display: inline-block !important;">
    <div class="img-base" style="display: inline-block !important;">
        <img alt="@Model.Description" src="@Model.SizedPicture(350)" class="img-polaroid" />
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/img/user/steve.jpg" class="img-avatar" />
        </div>
        <div class="col-md-9">
            <strong>Steve el dulcero loco</strong>
            <em class="date-avatar"><small>New York, USA</small></em>
        </div>
    </div>
    <p>@Model.Description</p>

    <button class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Me gusta">35 @FontAwesomeIconSet.ThumbsOUp.Html</button>
    <button class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Original">12 @FontAwesomeIconSet.Trophy.Html</button>
    <button class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Seguir">44 @FontAwesomeIconSet.HandORight.Html</button>
    <button class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Comentar">190 @FontAwesomeIconSet.CommentO.Html</button>
</div>*@