@model Tattoo.Web.Models.UpdateProfileFormModel
@{
    ViewBag.Title = Resources.Lbl_UpdateProfile;
}

<h2>@Resources.Lbl_UpdateProfile</h2>
<hr />
@using (Html.BeginForm("UpdateProfile", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.Nick, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Nick, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Avatar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <img alt="avatar" src="@Model.SizedPicture(120)" class="img-thumbnail" />
            </div>
            <div class="col-md-8">
                <p>@Resources.Msg_ChangeAvatar</p>
                <input id="Avatar" name="Avatar" type="file" />
                @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.CountryPicker(model => model.Country)
            </div>@Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.StatePicker(model => model.State, model => model.Country)
            </div>@Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value=@Resources.Btn_Save />
                    <a onclick="javascript:history.back();" class="btn btn-default">@Resources.Btn_Back</a>
                </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datetime")
    @Scripts.Render("~/bundles/country")
}